body {
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.services-wrapper {
    width: auto;
    min-height: 400px;
    padding: 25px;
}

.service-container {
    text-align: center;
    margin-top: 25px;
}
ul {
    text-align: center;
    list-style-type: none;

}

ul li {
    display: inline-block;
    /* top right straight arrangement*/
    margin-top: 25px;
    /*25 pixel space from top*/
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.8s ease;
    /*smooth hover transition*/
}

/*hover effect is change in color when mouse points*/
ul li a:hover {
    background-color: black;
    color: white;
}



ul li.active a {
    background-color: black;
    color: white;
}
.singleservice {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: #f3f3f3;
    padding: 25px;
    color: #b2b2b2;
    font-family: avenir;
    text-align: left;
    margin-bottom: 15px;
    padding: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 5px solid skyblue;
    border-radius: 10px;
}

.singleserviceb {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: #f3f3f3;
    padding: 25px;
    color: #b2b2b2;
    font-family: avenir;
    text-align: left;
    margin-bottom: 15px;
    padding: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 5px solid orange;
    border-radius: 10px;
}

@media (max-width:500px) {

    .singleservice,
    .singleserviceb {
        width: 100%;
    }
}

h2.servicetitle {
    font-family: century gothic;
    font-size: 16pt;
    font-weight: normal;
    letter-spacing: 1px;
    padding-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #8c8c8c;
}

img.serviceicon {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .5;
}